extends layout

block scripts
  script(src='/js/index.min.js')
  script(src='/js/jquery.validate.min.js')

block content
  .container
    h4 Admin
    table.striped
      thead
        tr
          th(data-field='first_name') First
          th(data-field='last_name') Last
          th(data-field='coming') Coming?
          th(data-field='guest') Guest?
          th(data-field='guest_name') Guest Name
      tbody
        each rsvp in rsvps
          tr
            td !{rsvp.first_name}
            td !{rsvp.last_name}
            td !{rsvp.rsvp_group}
            td !{rsvp.bringing_guest}
            td !{rsvp.guest_name}

