extends layout

block scripts
  script(src='/js/index.min.js')
  script(src='/js/jquery.validate.min.js')

  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css")

block content

  .parallax-container#section1
    .parallax#when
      img(src='img/getting_married.jpg')
    .text.center
      h5 Amanda + Eugene
      h6 September 16, 2017
  .container#weddingday
    h1.center Wedding Day
    .divider(style={'margin-bottom': '30px'})
    .row.center
      .col.s12.m6
        i.material-icons.logistics-icons access_time
        p Itinerary
        p.info-text
          .col.s4.info-text.text-right
            b 12:15#[br]
            | 1:30 - 3:30#[br]
            | #[br]
            | 4:00 - 8:00
          .col.s8.info-text.text-left
            b Ceremony & Photos #[br]
            | Cocktail Hour on Boat Cruise in Frenchman Bay #[br]
            | Reception
      .col.s12.m6
        i.fa.logistics-icons.fa-cutlery(style={'font-size': '30px', 'margin-bottom': '10px', 'margin-top': '10px'})
        //p.info-text Menu#[br]
        p Dinner Menu
          ul.info-text(style={'margin-top': '0px'})
            li.tooltip Chargrilled Filet Mignon and Maine Lobster Tail
              span.tooltiptext with drawn butter
            li.tooltip Roasted Statler Breast of Chicken
              span.tooltiptext with cranberry orange chutney
            li.tooltip Grilled Portabella and Roasted Vegetable Stack
              span.tooltiptext with basil pesto buerre blanc & smoked tomato choulis
        p.info-text All entrees served with spinach salad, rice/risotto, and vegetable
        //p(style={'margin-bottom': '0px'}) Dessert
        //  ul.info-text(style={'margin-top': '0px'})
        //    li TBD
        //    li TBD
      br
    br
    .row.center
      h5 Ceremony & Reception Info
      h5 &nbsp
      .col.s12.m4
        i.fa.logistics-icons.fa-heart
        p Ceremony
        p.info-text Bayview Lawn (weather permitting) at 12:15p
        P.info-text Bar Harbor Inn & Spa, 1 Newport Dr, Bar Harbor 04609

      .col.s12.m4
        i.material-icons.logistics-icons directions_boat
        p Boat Cruise
        p.info-text Boarding starts at 1:15p, departure at 1:30p
        p.info-text Atlantic Oceanside Hotel, 119 Eden St, Bar Harbor 04609

      .col.s12.m4
        i.fa.logistics-icons.fa-group
        p Reception
        p.info-text
          | Porcupine &nbsp
          img(src='favicon.ico', style={'width': '25px'})
          | &nbsp Room at 4:00p
        p.info-text Bar Harbor Inn & Spa, 1 Newport Dr, Bar Harbor 04609

      br
    br
    .row.center
      h5 Boat Cruise Info
      p.info-text
        | Following the ceremony we will be enjoying cocktails and hors d'oeuvres during a private nature/sightseeing cruise in Frenchman Bay.  The boat will depart from the Atlantic Oceanside Hotel, which is 1.5 miles (7 minute drive) from the ceremony site.  We have been asked to arrive at 1:15 for boarding. 
      p.info-text
        | Although we don't have official transportation to/from the boat dock, we hope to create enough carpools.  Please let us know if you need help arranging transportation.  There is plenty of free parking at the boat dock.
      p.info-text
        | The boat has a heated enclosed cabin, an open top deck, and restrooms.  Temperatures on the water will be colder than on shore, so a warm layer or two are strongly recommended.  In case of bad weather, the captain will determine whether we will be able to go.  We will be aboard "The Acadian" operated by Acadian Nature Cruises. 
        | For more information and photos of the boat, visit #[a(href="https://acadianboattours.com/", target='_blank') https:&#x2F;&#x2F;acadianboattours.com].
    .row.center
      h5 Gifts and Attire
      .col.s12.m6
        i.material-icons.logistics-icons card_giftcard
        i.material-icons.logistics-icons arrow_forward
        i.material-icons.logistics-icons attach_money
        p.info-text
          | We will be so happy to have you join us in this celebration and your warm wishes are enough of a gift for us.  However, for those who would still like to bring something, we will have a card box at the reception.
      .col.s12.m6
        i.material-icons.logistics-icons wc
        p.info-text
          | Standard wedding attire: button-down shirts and slacks for men; similarly formal for women.  Bring a warm layer for the boat cruise.
      br

  .slider
    ul.slides.center
      li
        img(src="img/slider_10.jpg")
      li
        img(src="img/slider_20.jpg")
      li
        img(src="img/slider_30.jpg")
      li
        img(src="img/slider_40.jpg")
      li
        img(src="img/slider_50.jpg")
      li
        img(src="img/slider_60.jpg")
      li
        img(src="img/slider_70.jpg")
      li
        img(src="img/slider_80.jpg")
      li
        img(src="img/slider_90.jpg")
      li
        img(src="img/slider_100.jpg")
      li
        img(src="img/slider_110.jpg")

  .container#where
    h1.center Location
    .divider
    .row
      .col.s12.m6
        h5.center Bar Harbor
        p.center
          | Bar Harbor Inn
          br
          | 1 Newport Dr
          br
          | Bar Harbor, ME 04609
        div(style={'text-align': 'center'})
          a.btn.waves-effect.waves-light(href='https://goo.gl/maps/SQnKGFicgNn', target='_blank')
            | Map
            i.material-icons.left map
          span &nbsp &nbsp
          a.btn.waves-effect.waves-light(href='https://barharborinn.com/', target='_blank') Website
            i.material-icons.right.mdi-navigation-arrow-forward
        br

      .col.s12.m6
        h5.center Weather
        .col.s6
          div.center Current
          div.center #{temps.current}°F
        .col.s6
          div.center On The Day
          div.center #{temps.future}°F
        br
        br
        br
        h5.center Hourly Forecast
        .col.s1 &nbsp
        each weather in hourly_weather
          .col.s2.center.info-text
            p #{weather.hour}p
            p #{weather.temp}°F
            if weather.cond == 'clear-day'
              i.wi.wi-day-sunny
            else if weather.cond == 'partly-cloudy-day'
              i.wi.wi-day-cloudy
            else if weather.cond == 'rain'
              i.wi.wi-rain
            else if weather.cond == 'wind'
              i.wi.wi-windy
            else if weather.cond == 'fog'
              i.wi.wi-fog
            else if weather.cond == 'cloudy'
              i.wi.wi-cloudy
            else if weather.cond == 'clear-night'
              i.wi.wi-night-clear
            else if weather.cond == 'partly-cloudy-night'
              i.wi.wi-night-alt-partly-cloudy
            else
              p #{weather.cond}
            p #{isNaN(weather.precip) ? '-' : weather.precip }%

  .parallax-container#section2
    .parallax
      img(src='img/acadia-road.jpg')

  .container#newport
    h1.center Acadia
    .divider(style={'margin-top': '30px'})
    .row#staying
      h5.center Staying
      p.center.info-text
        | A block of 10 rooms has been reserved at the #[a(href="https://barharborqualityinn.com/", target='_blank') Quality Inn in Bar Harbor].
        br
        | #[a(href="https://www.airbnb.com/") AirBnB] is an option for those looking for a unique and budget-friendly experience.
        br
        | For those interested in camping, reservations can be made at campgrounds at Acadia National Park.
      .row.center
        .col.s12.m7
          h5 Quality Inn in Bar Harbor
          p.info-text
            | Please mention the Maas/Klitenik wedding when making your reservation.
          p
            | 40 Kebo Street, Bar Harbor, Maine, 04609 #[br]
            | 207-288-5403
          a.btn.waves-effect.waves-light(href="https://barharborqualityinn.com/rooms-in-bar-harbor/", target='_blank')
            | Reserve
            i.material-icons.right hotel
        .col.s12.m5
          img(src="img/qualityinn_room.jpg", style={'max-width': '100%'})
      .row.center
        .col.s12.m7
          h5 Camping
          p.info-text Reservations are recommended and spaces may be limitted. Visit #[a(href="https://www.nps.gov/acad/planyourvisit/camping.htm", target='_blank') Acadia National Park Service website] for more info
        .col.s12.m5
          img(src="img/camping-tent.jpg", style={'max-width': '100%'})

  .modal#modalrsvp(style={'-webkit-overflow-scrolling': 'touch'})
    .modal-content
      include rsvp

  footer.page-footer
    .footer-copyright
      .container
        small.right © 2017 eugeneandamanda.com


