extends layout

block scripts
  script(src='/js/index.min.js')
  script(src='/js/jquery.validate.min.js')

  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css")

block content

  .parallax-container#section1
    .parallax#when
      img(src='img/getting_married.png')
    .text.center
      h5 We are getting married!
      h6 Date TBD
      h6 Time TBD
  .container#weddingday
    h1.center Wedding Day
    .divider(style={'margin-bottom': '30px'})
    .row.center
      h5 What's going to happen
      .col.s12.m6
        i.material-icons.logistics-icons access_time
        p.info-text
          | TBD
          .col.s3 &nbsp
          .col.s2.info-text.text-right
            | 0:00#[br]
            b 0:00#[br]
            | 0:00
          .col.s7.info-text.text-left
            | TBD #[br]
            b TBD #[br]
            | TBD
      .col.s12.m6
        i.fa.logistics-icons.fa-glass(style={'font-size': '30px'}) &nbsp
        i.fa.logistics-icons.fa-plus(style={'font-size': '20px'}) &nbsp&nbsp
        i.fa.logistics-icons.fa-cutlery(style={'font-size': '30px', 'margin-bottom': '10px', 'margin-top': '10px'})
        p.info-text TBD#[br]
        p(style={'margin-bottom': '0px'}) Dinner Menu
          ul.info-text(style={'margin-top': '0px'})
            li TBD
            li TBD
        p(style={'margin-bottom': '0px'}) Dessert
          ul.info-text(style={'margin-top': '0px'})
            li TBD
            li TBD
      br
    br
    .row.center
      h5 Transportation
      .col.s12.m6
        i.material-icons.logistics-icons directions_bus
        p.info-text TBD
        p Please check back here on the day for any last minute changes.
        p.info-text TBD - #[b TBD] departure

      .col.s12.m6
        i.material-icons.logistics-icons local_taxi
        p.info-text
          | TBD
      br
    br
    .row.center
      h5 Gifts and Attire
      .col.s12.m6
        i.material-icons.logistics-icons card_giftcard
        i.material-icons.logistics-icons arrow_forward
        i.material-icons.logistics-icons attach_money
        p.info-text
          | TBD
      .col.s12.m6
        i.material-icons.logistics-icons wc
        p.info-text
          | TBD
      br

  .slider
    ul.slides.center
      li
        img(src="img/slider_10.jpg")
      li
        img(src="img/slider_20.jpg")
      li
        img(src="img/slider_30.jpg")
      li
        img(src="img/slider_40.jpg")
      li
        img(src="img/slider_50.jpg")
      li
        img(src="img/slider_60.jpg")
      li
        img(src="img/slider_70.jpg")
      li
        img(src="img/slider_80.jpg")

  .container#where
    h1.center Location
    .divider
    .row
      .col.s12.m6
        h5.center Acadia
        p.center
          | Street Address
          br
          | City in Maine, ME 00000
        p.center.info-text
          | Description TBD
        div(style={'text-align': 'center'})
          a.btn.waves-effect.waves-light(href='https://maps.google.com', target='_blank')
            | Map TBD
            i.material-icons.left map
          span &nbsp &nbsp
          a.btn.waves-effect.waves-light(href='http://www.google.com', target='_blank') Website TBD
            i.material-icons.right.mdi-navigation-arrow-forward
        br

      .col.s12.m6
        h5.center Weather
        .col.s6
          div.center Current
          div.center #{temps.current}°F
        .col.s6
          div.center On The Day
          div.center #{temps.future}°F
        br
        br
        br
        h5.center Hourly Forecast
        .col.s1 &nbsp
        each weather in hourly_weather
          .col.s2.center.info-text
            p #{weather.hour}p
            p #{weather.temp}°F
            if weather.cond == 'clear-day'
              i.wi.wi-day-sunny
            else if weather.cond == 'partly-cloudy-day'
              i.wi.wi-day-cloudy
            else if weather.cond == 'rain'
              i.wi.wi-rain
            else if weather.cond == 'wind'
              i.wi.wi-windy
            else if weather.cond == 'fog'
              i.wi.wi-fog
            else if weather.cond == 'cloudy'
              i.wi.wi-cloudy
            else if weather.cond == 'clear-night'
              i.wi.wi-night-clear
            else if weather.cond == 'partly-cloudy-night'
              i.wi.wi-night-alt-partly-cloudy
            else
              p #{weather.cond}
            p #{weather.precip}%

  .parallax-container#section2
    .parallax
      img(src='img/newport-brix.jpg')

  .container#newport
    h1.center Acadia
    .divider(style={'margin-top': '30px'})
    .row
      h5.center Arriving
      .col.s12.m6.center
        i.material-icons.logistics-icons airplanemode_active
        p Fly
        p.info-text
          | Flying info TBD
      .col.s12.m6.center
        i.material-icons.logistics-icons directions_car
        p Drive
        p.info-text
          | Driving info TBD
    .divider(style={'margin-top': '30px'})
    .row#staying
      h5.center Staying
      p.center.info-text
        | Hotel info TBD
        br
        | For those looking for a more unique or budget friendly experience, we recommend #[a(href="https://www.airbnb.com/") airbnb].
      .row.center
        .col.s12.m6
          h5 Hotel Name TBD
          p.info-text
            | Info about stay TBD
            br
            | How to reserve TBD
          p
            | Hotel Address TBD #[br] Hotel phone TBD
          a.btn.waves-effect.waves-light(href="http://www.google.com", target='_blank')
            | Reserve TBD
            i.material-icons.right hotel
        .col.s12.m6
          img(src="img/marriott_room.jpg", style={'max-width': '100%'})


  .modal#modalrsvp(style={'-webkit-overflow-scrolling': 'touch'})
    .modal-content
      include rsvp

  footer.page-footer
    .footer-copyright
      .container
        small.right © 2017 eugeneandamanda.com


